{% extends 'base.html' %}
{% block content %}
    <h1>Andrés Restrepo Giraldo</h1>
    <h2>This is the full home page</h2>

    <!-- Un card por cada película con sus correspondientes atributos -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
        <div class="col">
            <div class="card">
                <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ movie.year }}</h6>
                    <p class="card-text"><span class="badge bg-secondary">{{ movie.genre }}</span></p>
                    <p class="card-text">{{ movie.description }}</p>
                    {% if movie.url %}
                        <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
